@import "../../variables";
.sidebar-dialogue {
    width: 100%;
    padding: 5px 0px;
    height: 60px;
    position: relative;
    border-top: solid white 1px;
    display: flex;
    cursor: pointer;
    &:last-of-type {
        border-bottom: solid white 1px;
    }
    &:hover {
        background: $lighter;
    }
}
.sidebar-dialogue__avatar {
    min-height: 40px;
    min-width: 40px;
    background: white;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.sidebar-dialogue__message {
    height: 100%;
    width: calc(80% - 40px);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 5px;
}
.sidebar-dialogue__message__sender {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
}
.sidebar-dialogue__message__content {
    height: 60px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $gray;
    overflow: hidden;
    text-overflow: ellipsis;
    display: webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.sidebar-dialogue__info {
    position: absolute;
}
.sidebar-dialogue__timestamp {
    top: 5px;
    right: 5px;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    text-align: right;
    color: $gray;
}
.sidebar-dialogue__unread {
    bottom: 5px;
    right: 5px;
    background: $lighter;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    height: 20px;
    width: 20px;
    display: grid;
    place-items: center;
    border-radius: 10px;
}
