<div class="sidebar-dialogue">
    <div class="sidebar-dialogue__avatar"></div>
    <div class="sidebar-dialogue__message">
        <h5 class="sidebar-dialogue__message__sender">{{user.name}}</h5>
        <div class="sidebar-dialogue__message__content">{{lastMessage.content}}</div>
    </div>
    <span class="sidebar-dialogue__info sidebar-dialogue__timestamp">{{lastMessage.timestamp}}</span>
    <span class="sidebar-dialogue__info sidebar-dialogue__unread">{{unreadMessagesCount}}</span>

    
    
    
</div>