<button name="addUser">Добавить пользователя</button>
<button name="removeUser">Удалить пользователя</button>
<button name="deleteChat">Удалить чат</button>
<input type="file" id='chat-avatar-input' accept="Image">
<label for="chat-avatar-input" class="">
    Поменять аватар чата
</label>
