<div class="registration">
    <div class="registration-form"> 
        <h4>Вход</h4>
        {{>inputField label = 'Логин' id = 'login'}}
        <div id="login-input-error" class="input-error-message"></div>
        {{>inputField label = 'Пароль' id = 'password' inputType='password'}}
        <div id="password-input-error" class="input-error-message"></div>
        {{{logInBtn}}}
        <a href="#registration" class='return-link'>Нет аккаунта?</a>
    </div>
</div>