<form class="registration-form">
    <h4>Вход</h4>
    {{{inputFields}}}
    {{{logInBtn}}}
    <a href="#registration" class='return-link'>Нет аккаунта?</a>
</form>

<nav class="for-reviewer">
    <h5>For reviewer</h5>
    <a href="/">Вход</a>
    <a href="/#registration">Регистрация</a>
    <a href="/#chat">Чат</a>
    <a href="/#settings">Настройки</a>
    <a href="/#404">404</a>
    <a href="/#500">5**</a>
</nav>
