@import "../../variables";
.settings__field {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.settings__field__input-container {
    border-bottom: solid white 1px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.settings__field__input {
    width: 50%;
    text-align: right;
    color: $gray;
    font-weight: 500;
    font-size: 13px;
}
.settings__field__input_active {
    color: white;
}
.settings__field__input__error {
    font-weight: 400;
    font-size: 10px;
    line-height: 8px;
    color: red;
    text-align: left;
    width: 100%;
    padding: 2px;
    bottom: 0;
}
