    <div class="settings__field">
        <span class="settings__field__label">{{label}}</span>
        <input class="settings__field__input" disabled id="{{id}}" value="{{value}}" name="{{name}}" type="text">
    </div>
