@import "../../variables";
.new-chat-menu {
    display: flex;
    justify-content: center;
    width: 100%;
}
.new-chat-form {
    height: 150px;
    width: 100%;
    background: $dark-violet;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-radius: 5px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}
.chat-sidebar__new-title-input {
    height: 20px;
    width: 80%;
    background: $dark-gray;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}
.new-chat-btn {
    background: $strong-blue;
    width: 70%;
    padding: 10px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}
