@import "../../variables";
.form-field {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
    margin-bottom: 1rem;
}
.input-error-message {
    font-weight: 400;
    font-size: 10px;
    line-height: 8px;
    color: $cyan;
    text-align: left;
    width: 100%;
    position: absolute;
    bottom: -20px;
    padding: 2px;
}
.form-field__label {
    font-size: 13px;
    position: absolute;
    top: 50%;
    font-weight: 400;
    color: $gray;
    transition: transform 0.25s;
    transform-origin: left;
    cursor: pointer;
}
.form-field__input {
    color: white;
    padding: 17px 1px 0px;
    font-size: 13px;
    border-bottom: solid 1px $blue;
    &:focus + .form-field__label,
    &:not(:placeholder-shown) + .form-field__label {
        transform: translate(0px, -15px) scale(0.7);
    }
    &::placeholder {
        color: transparent;
    }
}
