.form-field {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
    // &:last-of-type {
    //     margin-bottom: 2rem
    // }

}
.form-field__label {
    font-size: 13px;
    position: absolute;
    top: 50%;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    transition: transform 0.25s;
    transform-origin: left;
    cursor: pointer;
}
.form-field__input {
    color: white;
    padding: 17px 1px 0px 1px;
    font-size: 13px;
    border-bottom: solid 1px rgba(51, 105, 243, 1);
    &:focus+.form-field__label, 
    &:not(:placeholder-shown)+.form-field__label  {
        transform: translate(0px, -15px) scale(0.7); 
    }
    &::placeholder {
        color: transparent;
    }
}
