<div class="registration">
    <div class="registration-form"> 
        <h4 class="registration-form__title">Регистрация</h4>
        {{#each fieldsRenderData}}
        {{>inputField label = label id = id name = name}}
        {{/each}}
        {{{singUpBtn}}}
        <a href="/" class='return-link'>Войти</a>
    </div>
</div>
