@import "../../variables";
.add-user-menu {
    height: 100%;
    width: 101%;
    transform: translateX(-10px);
    position: absolute;
    background: $darker-strong;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-user-form {
    background: $livid;
    height: 300px;
    width: 300px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 20px;
}
.add-user-search-results {
    width: 100%;
    height: 100%;
    border: solid white 1px;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.add-user-search-result {
    height: 40px;
    width: 100%;
    display: flex;
    padding: 0 8px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:hover {
        background: $lighter;
    }
}
.add-user-form__search {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.search-user-btn {
    background: $strong-blue;
    color: white;
    padding: 0px 6px;
    border-radius: 3px;
}
