@import "../../variables";
.actions-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.actions-container__button {
    background: transparent;
    border: none;
    border-bottom: solid white 1px;
    font-weight: 500;
    color: $blue;
    text-align: left;
    margin-bottom: 1rem;
    cursor: pointer;
    &:last-child {
        color: red;
        border-bottom: none;
    }
}
