<div class="actions-container">
    <button onclick="changeUserInfo()" class="actions-container__button">Изменить данные</button>
    <button onclick="changePassword()" class="actions-container__button">Изменить пароль</button>
    <button onclick="logOut()" class="actions-container__button">Выйти</button>
</div>