<div class="settings">
    <div class="settings-sidebar">
        <a href="/#chat" class="settings-sidebar__link"></a>
    </div>
    <div onclick="changeAvatar()" name="avatar" class="settings__avatar"></div>
    <h4 class="settings__user-name">Иван</h4>
    <div class="settings__user-info-container">
    {{{userInfo}}}
    </div>
    <div class="settings__actions-container">
        {{{settingsActions}}}
    </div>
    <div class="settings__change-avatar-menu-container">
        <div class="settings__change-avatar-menu">
            <h4>Загрузите файл</h4>
            <button class="settings__change-avatar-file-choice">
                Выбрать файл на компьютере
            </button>
            {{{saveAvatarBtn}}}
            </div>
    </div>
</div>
