<div class="user-info-container"> 
    <div class="settings__field">
        <span class="settings__field__label">Старый пароль</span>
        <input class="settings__field__input" id="oldPassword" type="password">
    </div>
    <div class="settings__field">
        <span class="settings__field__label">Новый пароль</span>
        <input class="settings__field__input" id="newPassword" type="password">
    </div>
</div>